#com_introBox {height: 800px; background-color: #fff; padding-top: 239px; padding-left: 282px; box-sizing: border-box; position: relative;}
#com_introBox > .logoBox {width: 527px; height: 395px; background-image: url('../../img/com_introBox/logo.png'); float: left; margin-right: 194px;}
#com_introBox > .textBox {margin-top: 50px; width: 699px; height: 302px;  float: left;}
#com_introBox > .textBox > span {display: block;}
#com_introBox > .textBox > span:nth-child(1) {width: 285px; height: 65px; background-image: url('../../img/com_introBox/text1.png'); position: absolute; top:289px; left: 800px; opacity: 0;}
#com_introBox > .textBox > p {opacity: 0; position: absolute; left: 800px; width: 699px; height: 174px; top: 400px;}
#com_introBox > .textBox > p{display: block; font-size: 21px; font-weight: bold; color: #666;}
#com_introBox > .textBox > p:nth-child(2){top: 470px;}
/* #com_introBox > .textBox > span:nth-child(2){width: 699px; height: 174px; margin-top: 115px;} */
